# Regularization : -

In [149]:
#Automobile.csv dataset

In [150]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [151]:
#Load dataset automobile_data.csv file
df=pd.read_csv("automobile_data.csv")

In [152]:
#To display first 5 records
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [153]:
#First check null values
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [155]:
#which type of value in normalized-losses column
df["normalized-losses"].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [156]:
df["normalized-losses"].value_counts() #how many times repeated values

normalized-losses
?      41
161    11
91      8
150     7
134     6
128     6
104     6
85      5
94      5
65      5
102     5
74      5
168     5
103     5
95      5
106     4
93      4
118     4
148     4
122     4
83      3
125     3
154     3
115     3
137     3
101     3
119     2
87      2
89      2
192     2
197     2
158     2
81      2
188     2
194     2
153     2
129     2
108     2
110     2
164     2
145     2
113     2
256     1
107     1
90      1
231     1
142     1
121     1
78      1
98      1
186     1
77      1
Name: count, dtype: int64

In [157]:
#replace ? with null values in "normalized-losses" column permanently
df["normalized-losses"].replace("?",np.nan,inplace=True)

In [158]:
#check null values in dataset
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [160]:
df.shape

(205, 15)

In [161]:
#check % of null valuses in normalized-losses column
df["normalized-losses"].isnull().sum()/df.shape[0]*100

np.float64(20.0)

In [162]:
#change the datatype of df["normalized-losses"] column from object to float
#permanently
df["normalized-losses"]=df["normalized-losses"].astype("float")

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(3), int64(5), object(7)
memory usage: 24.2+ KB

In [164]:
#fill null rows of normalized-losses column with mean of normalized-losses 
#columns permanently
m=df["normalized-losses"].mean()
print("Mean of normalized-losses : ",m)
df["normalized-losses"].fillna(m,inplace=True)

Mean of normalized-losses :  122.0

In [165]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [166]:
#which type of value in horsepower column
df["horsepower"].unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

In [167]:
df["horsepower"].value_counts() #how many times repeated values

horsepower
68     19
70     11
69     10
116     9
110     8
95      7
88      6
62      6
101     6
160     6
114     6
84      5
97      5
102     5
145     5
82      5
76      5
111     4
92      4
123     4
86      4
90      3
73      3
85      3
207     3
182     3
121     3
152     3
112     2
56      2
161     2
156     2
94      2
52      2
?       2
162     2
155     2
184     2
100     2
176     2
55      1
262     1
134     1
115     1
140     1
48      1
58      1
60      1
78      1
135     1
200     1
64      1
120     1
72      1
154     1
288     1
143     1
142     1
175     1
106     1
Name: count, dtype: int64

In [168]:
#replace ? with null values in "horsepower" column permanently
df["horsepower"].replace("?",np.nan,inplace=True)
#change the datatype of df["horsepower"] column from object to float
#permanently
df["horsepower"]=df["horsepower"].astype("float")

In [169]:
#check null values 
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [170]:
#fill null rows of horsepower column with mean of horsepower
#columns permanently
m=df["horsepower"].mean()
print("Mean of horsepower : ",m)
df["horsepower"].fillna(m,inplace=True)

Mean of horsepower :  104.25615763546799

In [171]:
#check null values 
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    float64
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.2+ KB

In [173]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [174]:
df["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [175]:
df["fuel-type"].unique()

array(['gas', 'diesel'], dtype=object)

In [176]:
#separate numerical type column and object type column and store in new dataset
df_num=df.select_dtypes(["int64","float64"])    #hold to int and float type data 
df_cat=df.select_dtypes(object)     #hold object type data

In [177]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   width              205 non-null    float64
 3   height             205 non-null    float64
 4   engine-size        205 non-null    int64
 5   horsepower         205 non-null    float64
 6   city-mpg           205 non-null    int64
 7   highway-mpg        205 non-null    int64
 8   price              205 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 14.5 KB

In [178]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   make             205 non-null    object
 1   fuel-type        205 non-null    object
 2   body-style       205 non-null    object
 3   drive-wheels     205 non-null    object
 4   engine-location  205 non-null    object
 5   engine-type      205 non-null    object
dtypes: object(6)
memory usage: 9.7+ KB

In [ ]:
#change the object type data into numerical type then use LabelEncoder class
from sklearn.preprocessing import LabelEncoder

In [180]:
df_cat.head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [181]:
for col in df_cat :
    le=LabelEncoder() #create the object of LabelEncoder class
    df_cat[col]=le.fit_transform(df_cat[col])

In [182]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [183]:
#concatenation of both dataset df_num and df_cat and hold new dataset df_new
df_new=pd.concat([df_num,df_cat],axis=1) #axis=1 column wise
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [184]:
df_new.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'price', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [185]:
#performing the model with the help of linear regression
#we want to predict the car's price which are contineous numeric value
#apply multiple linear regression because many input means many independent
#variables or features and one target

In [186]:
#select independent means input variables(X) and target means dependent 
#variable(Y)
X=df_new.drop("price",axis=1) #apart from price, all columns hold in X variable
Y=df_new["price"] #output variable

In [187]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [188]:
#train test split 70%-30%
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,
                                              random_state=1)

In [189]:
X_train.shape,X_test.shape

((143, 14), (62, 14))

In [190]:
#Apply StandardScaler on X_train and X_test
from sklearn.preprocessing import StandardScaler
#create the object of StandardScaler class
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [191]:
X_train

array([[ 1.69785729,  0.02383412,  0.12469565, ...,  1.17275014,
        -0.14638501,  0.00639503],
       [-1.42488988,  0.02383412,  0.21756793, ...,  1.17275014,
        -0.14638501, -2.73707423],
       [-0.64420309, -1.38767531, -1.12908013, ..., -2.35784501,
        -0.14638501,  0.00639503],
       ...,
       [ 1.69785729,  0.7123753 ,  2.07501352, ...,  1.17275014,
        -0.14638501,  1.83537454],
       [ 0.91717049, -1.31882119, -1.03620785, ..., -2.35784501,
        -0.14638501,  0.92088479],
       [-0.64420309, -0.52699883, -0.38610189, ..., -0.59254744,
        -0.14638501,  0.00639503]], shape=(143, 14))

In [192]:
#PERFORM MODEL WITH LINEARREGRESSION
from sklearn.linear_model import LinearRegression
#create object of LinearRegression class
lr=LinearRegression()

In [193]:
#train the model with 70% data
lr.fit(X_train,Y_train)

LinearRegression()

In [194]:
#check the training score on training data ,
#use inbuilt method score() of LinearRegression class
lr.score(X_train,Y_train)

0.8504573774895473

In [195]:
#check slope or coefficient of each input , use inbuilt method coef_
lr.coef_

array([   57.81895665,    44.47885193,  1700.08139295,   918.27940669,
        4046.25518791,  -450.43882012,  1968.72478882, -2781.47379917,
       -1253.87858019,  -178.99929397,  -149.85563859,  1058.52249069,
        2352.26450278,   309.65276269])

In [196]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [197]:
#check testing score with 30% data
lr.score(X_test,Y_test)

0.7965566780397383

In [198]:
#training score =0.85  and testing score =0.79 
#here model is overfit because training score >testing score

In [199]:
#create a dictionary whoch hold input column and coefficient of input
dict={'features':X.columns,'Slope':lr.coef_}
df1=pd.DataFrame(dict)
df1

             features        Slope
0           symboling    57.818957
1   normalized-losses    44.478852
2               width  1700.081393
3              height   918.279407
4         engine-size  4046.255188
5          horsepower  -450.438820
6            city-mpg  1968.724789
7         highway-mpg -2781.473799
8                make -1253.878580
9           fuel-type  -178.999294
10         body-style  -149.855639
11       drive-wheels  1058.522491
12    engine-location  2352.264503
13        engine-type   309.652763

In [200]:
#Apply Regularisation . bcoz model is overfit 
#1. Lasso Regularisation (L1)
#In Regularisation , we add some external error during training time 
#in Lasso : formula : RSS+lambda*sum(absolute(All slope))
#lambda means hyperparameter 
#in Lasso , range of lambda = 200 to 1000

In [201]:
#call inbuilt class Lasso  
from sklearn.linear_model import Lasso

In [202]:
#How to select the right value of lambda /alpha in lasso , use simple
#technique 
for i in range(200,1001,50): #start=200 stop=1001-1=1000 step=+50
    #create the object of Lasso class , passing the value of lambda
    l1=Lasso(i) #first i=200 , next i=250 ......
    #automatic write formula RSS+i*sum(abs(all coef))
    #train the model with 70% data using Lasso class , use fit() inbuilt
    #method of Lasso class
    l1.fit(X_train,Y_train)
    print("Value of Lambda : ",i)
    #check training score 
    print("Training Score : ",l1.score(X_train,Y_train))
    #check testing score
    print("Testing Score : ",l1.score(X_test,Y_test))
# l1=Lasso(1) 
# l1.fit(X_train,Y_train)
# max = l1.score(X_test,Y_test)
# print("-=-=-=-=-=-=-=-=-=-=-=-=-=-=")
# for i in range(1,1001,1): #start=200 stop=1001-1=1000 step=+50
#     #create the object of Lasso class , passing the value of lambda
#     l1=Lasso(i) #first i=200 , next i=250 ......
#     #automatic write formula RSS+i*sum(abs(all coef))
#     #train the model with 70% data using Lasso class , use fit() inbuilt
#     #method of Lasso class
#     l1.fit(X_train,Y_train)
#     #check training score 
#     if l1.score(X_test,Y_test)>max:
#         print("Value of Lambda : ",i)
#         max = l1.score(X_test,Y_test)
#         print("Training Score : ",l1.score(X_train,Y_train))
#     #check testing score
#         print("Testing Score : ",l1.score(X_test,Y_test))

Value of Lambda :  200
Training Score :  0.8410262816516456
Testing Score :  0.8111395722615142
Value of Lambda :  250
Training Score :  0.8385340173594726
Testing Score :  0.8105498997329942
Value of Lambda :  300
Training Score :  0.8354878961834389
Testing Score :  0.8094641048334433
Value of Lambda :  350
Training Score :  0.8319938320056115
Testing Score :  0.8079346980993205
Value of Lambda :  400
Training Score :  0.8284657641792199
Testing Score :  0.8061490778483928
Value of Lambda :  450
Training Score :  0.8249546529678113
Testing Score :  0.8041489036760304
Value of Lambda :  500
Training Score :  0.8210304998885254
Testing Score :  0.8017878944315399
Value of Lambda :  550
Training Score :  0.8166932955129319
Testing Score :  0.7990660335452213
Value of Lambda :  600
Training Score :  0.8119430443772861
Testing Score :  0.7959832844784963
Value of Lambda :  650
Training Score :  0.8067797434912503
Testing Score :  0.7925396011412089
Value of Lambda :  700
Training Score :  0.8018558303409655
Testing Score :  0.788982628108363
Value of Lambda :  750
Training Score :  0.7978566473416827
Testing Score :  0.7856542048320498
Value of Lambda :  800
Training Score :  0.7935816605078392
Testing Score :  0.7821357320480605
Value of Lambda :  850
Training Score :  0.7890308610369865
Testing Score :  0.7784272113835824
Value of Lambda :  900
Training Score :  0.784204257082388
Testing Score :  0.7745286406360254
Value of Lambda :  950
Training Score :  0.7791274649239102
Testing Score :  0.7704701520045811
Value of Lambda :  1000
Training Score :  0.7754550114623462
Testing Score :  0.7681983507406609

In [203]:
#Right value of Lambda in the case of Lasso =200 
#score got 81% and model is not overfit because training score=84%
#check coefficient /slope of each input/features after apply lasso
l1.coef_

array([  -0.        ,    0.        , 1149.39028092,    0.        ,
       4149.53419025,    0.        ,   -0.        , -441.14217416,
         -0.        ,   -0.        ,   -0.        ,  376.53222035,
       1077.64509062,    0.        ])

In [204]:
#To add new column of slope in existing dataframe df1 after apply Lasso
df1['Slope_Lasso']=l1.coef_
df1

             features        Slope  Slope_Lasso
0           symboling    57.818957    -0.000000
1   normalized-losses    44.478852     0.000000
2               width  1700.081393  1149.390281
3              height   918.279407     0.000000
4         engine-size  4046.255188  4149.534190
5          horsepower  -450.438820     0.000000
6            city-mpg  1968.724789    -0.000000
7         highway-mpg -2781.473799  -441.142174
8                make -1253.878580    -0.000000
9           fuel-type  -178.999294    -0.000000
10         body-style  -149.855639    -0.000000
11       drive-wheels  1058.522491   376.532220
12    engine-location  2352.264503  1077.645091
13        engine-type   309.652763     0.000000

In [205]:
#Y_pred=m1*X1+m2*X2+..........mn*Xn+C
#Lasso use to select important features from given dataset 
#Lasso is a features selection method.

In [206]:
#Ridge Regularisation 
#call Ridge class inbuilt class
from sklearn.linear_model import Ridge

In [207]:
#in ridge 
#RSS+lambda*sum(square(ALL Slope))
#range of lambda 0-50
for i in range(0,51): #start=0 stop=51-1=50 step=+1
    #create the object of Ridge means L2 and passing the value of lambda 
    l2=Ridge(i)
    #train the model with 70% data using Ridge class , use fit() inbuilt
    #method of Ridge class
    l2.fit(X_train,Y_train)
    print("Value of Lambda : ",i)
    #check training score 
    print("Training Score : ",l2.score(X_train,Y_train))
    #check testing score
    print("Testing Score : ",l2.score(X_test,Y_test))

Value of Lambda :  0
Training Score :  0.8504573774895474
Testing Score :  0.7965566780397383
Value of Lambda :  1
Training Score :  0.8502107737350234
Testing Score :  0.7997849983168293
Value of Lambda :  2
Training Score :  0.849720842460161
Testing Score :  0.8020904988940025
Value of Lambda :  3
Training Score :  0.8491421996271186
Testing Score :  0.8038550529198802
Value of Lambda :  4
Training Score :  0.8485240352668717
Testing Score :  0.8052538108138245
Value of Lambda :  5
Training Score :  0.8478855977809376
Testing Score :  0.8063836531598357
Value of Lambda :  6
Training Score :  0.8472358385089227
Testing Score :  0.8073052711461921
Value of Lambda :  7
Training Score :  0.846579557677871
Testing Score :  0.8080600174572211
Value of Lambda :  8
Training Score :  0.8459196258570562
Testing Score :  0.8086777500683581
Value of Lambda :  9
Training Score :  0.8452578949328051
Testing Score :  0.809180934833671
Value of Lambda :  10
Training Score :  0.8445956184203913
Testing Score :  0.8095869965126926
Value of Lambda :  11
Training Score :  0.8439336681239733
Testing Score :  0.8099097663196718
Value of Lambda :  12
Training Score :  0.8432726575220613
Testing Score :  0.8101604250480486
Value of Lambda :  13
Training Score :  0.8426130181419964
Testing Score :  0.810348145688699
Value of Lambda :  14
Training Score :  0.8419550499978528
Testing Score :  0.8104805472403599
Value of Lambda :  15
Training Score :  0.8412989565174478
Testing Score :  0.8105640245910258
Value of Lambda :  16
Training Score :  0.8406448695496873
Testing Score :  0.8106039940681197
Value of Lambda :  17
Training Score :  0.839992867686238
Testing Score :  0.8106050798587369
Value of Lambda :  18
Training Score :  0.839342989897074
Testing Score :  0.8105712579176034
Value of Lambda :  19
Training Score :  0.8386952457865311
Testing Score :  0.810505968655318
Value of Lambda :  20
Training Score :  0.8380496233617765
Testing Score :  0.8104122062805996
Value of Lambda :  21
Training Score :  0.8374060949430385
Testing Score :  0.8102925904090422
Value of Lambda :  22
Training Score :  0.8367646216707996
Testing Score :  0.810149424016246
Value of Lambda :  23
Training Score :  0.8361251569452964
Testing Score :  0.8099847407479734
Value of Lambda :  24
Training Score :  0.8354876490487859
Testing Score :  0.8098003438458772
Value of Lambda :  25
Training Score :  0.8348520431395898
Testing Score :  0.8095978384041502
Value of Lambda :  26
Training Score :  0.8342182827617066
Testing Score :  0.8093786582751028
Value of Lambda :  27
Training Score :  0.8335863109800705
Testing Score :  0.8091440886470049
Value of Lambda :  28
Training Score :  0.8329560712261568
Testing Score :  0.8088952850962917
Value of Lambda :  29
Training Score :  0.8323275079193718
Testing Score :  0.8086332897482775
Value of Lambda :  30
Training Score :  0.8317005669149518
Testing Score :  0.8083590450517142
Value of Lambda :  31
Training Score :  0.8310751958178029
Testing Score :  0.8080734055728376
Value of Lambda :  32
Training Score :  0.8304513441929955
Testing Score :  0.8077771481367201
Value of Lambda :  33
Training Score :  0.8298289636968762
Testing Score :  0.8074709805825295
Value of Lambda :  34
Training Score :  0.8292080081475228
Testing Score :  0.8071555493507738
Value of Lambda :  35
Training Score :  0.8285884335491727
Testing Score :  0.8068314460819144
Value of Lambda :  36
Training Score :  0.8279701980820675
Testing Score :  0.8064992133746469
Value of Lambda :  37
Training Score :  0.8273532620666546
Testing Score :  0.8061593498270685
Value of Lambda :  38
Training Score :  0.826737587909123
Testing Score :  0.8058123144635597
Value of Lambda :  39
Training Score :  0.8261231400337107
Testing Score :  0.8054585306335859
Value of Lambda :  40
Training Score :  0.8255098848060085
Testing Score :  0.8050983894549707
Value of Lambda :  41
Training Score :  0.8248977904505289
Testing Score :  0.8047322528629531
Value of Lambda :  42
Training Score :  0.8242868269650557
Testing Score :  0.804360456317024
Value of Lambda :  43
Training Score :  0.8236769660337007
Testing Score :  0.8039833112098058
Value of Lambda :  44
Training Score :  0.8230681809401207
Testing Score :  0.8036011070157723
Value of Lambda :  45
Training Score :  0.822460446481988
Testing Score :  0.8032141132121977
Value of Lambda :  46
Training Score :  0.8218537388875108
Testing Score :  0.8028225810001709
Value of Lambda :  47
Training Score :  0.8212480357345804
Testing Score :  0.8024267448496716
Value of Lambda :  48
Training Score :  0.8206433158729407
Testing Score :  0.8020268238894507
Value of Lambda :  49
Training Score :  0.8200395593496377
Testing Score :  0.8016230231596999
Value of Lambda :  50
Training Score :  0.8194367473379025
Testing Score :  0.8012155347431369

In [208]:
#right value of lambda in Ridge :  12
#got testing score =81% and training score=84%  means model is not overfit

In [209]:
#check coefficient after apply Ridge
l2.coef_

array([-177.69912588,   41.39428824, 1352.23613159,  689.29736461,
       2369.91729134,  790.35877258, -420.15470382, -844.56285491,
       -905.50722167, -557.79711291, -287.11557748,  981.74393699,
       1527.98348191,  414.27342682])

In [210]:
df1['Slope_Ridge']=l2.coef_
df1

             features        Slope  Slope_Lasso  Slope_Ridge
0           symboling    57.818957    -0.000000  -177.699126
1   normalized-losses    44.478852     0.000000    41.394288
2               width  1700.081393  1149.390281  1352.236132
3              height   918.279407     0.000000   689.297365
4         engine-size  4046.255188  4149.534190  2369.917291
5          horsepower  -450.438820     0.000000   790.358773
6            city-mpg  1968.724789    -0.000000  -420.154704
7         highway-mpg -2781.473799  -441.142174  -844.562855
8                make -1253.878580    -0.000000  -905.507222
9           fuel-type  -178.999294    -0.000000  -557.797113
10         body-style  -149.855639    -0.000000  -287.115577
11       drive-wheels  1058.522491   376.532220   981.743937
12    engine-location  2352.264503  1077.645091  1527.983482
13        engine-type   309.652763     0.000000   414.273427

In [211]:
#Cross validation : - 
#score are same in both regularisation (Lasso and  Ridge) 0.81
#Select any one regularisation method : use cross validation
#inbuilt class for cross validation :  cross_val_score
from sklearn.model_selection import cross_val_score

In [212]:
#In Lasso : right value of lambda =200
#create object of Lasso class and passing the value of lambda =200
l1=Lasso(200)

In [213]:
#Apply StandardScalar on input X
#create the object of StandardScalar class

ss=StandardScaler()
X=ss.fit_transform(X)

In [214]:
#Create object of cross_val_score class(for Lasso)
l1_cross=cross_val_score(l1,X,Y,cv=4)
#here X input and Y output 
#parameter cv means divided the given dataset into no. of parts
#here cv=4 means 4 parts

In [215]:

l1_cross

array([0.65744133, 0.86164067, 0.40768325, 0.57947007])

In [216]:
#Find the average or means of all scores 
np.mean(l1_cross)

np.float64(0.6265588297216849)

In [217]:
#Same cross validation apply on ridge regularisation
#create the object for Ridge Regularisation and passing the value of lambda 
#lambda=12 in case of Ridge
l2=Ridge(12)

In [218]:
#Create object of cross_val_score class(for Ridge)
l2_cross=cross_val_score(l2,X,Y,cv=4)

In [219]:
l2_cross

array([0.67149145, 0.84890159, 0.40339367, 0.59186447])

In [220]:
#Find the average or means of all scores 
np.mean(l2_cross)

np.float64(0.6289127925277193)

In [221]:
#average in Lasso : 0.62655
#average in ridge : 0.62891

In [222]:
#mean of ridge regularisation > mean of Lasso Regularisation 
#means Ridge regularisation is best on automobile_data.csv dataset
#got score 81%