In [26]:
import pandas as pd
import numpy as np
data = {
    "names" : ["raj","rajesh","mukesh"],
    "age" : [24,22,21]
}

In [27]:
df = pd.read_csv("data.csv")

# Explore the Data 
* 1. head rows
* 2. Tail rows
* 3. shape
* 4. columns 
* 5. index
* 6. datatypes

In [28]:
df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [29]:
df.tail(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [30]:
df.shape    # to check the total count of rows and column

(11914, 16)

In [31]:
df.columns    #. to list all the column name

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [32]:
df.index       # to check the index

RangeIndex(start=0, stop=11914, step=1)

In [33]:
df.dtypes        # to list all the column with datatypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [34]:
df["Year"] = df["Year"].astype("int8")   # to transfor the datat-type

In [35]:
df.dtypes

Make                  object
Model                 object
Year                    int8
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [36]:
df.size

190624

In [37]:
# df = pd.read_csv("/Users/hp/ProjectAndCode/DataScience/Electric_Vehicle_Population_Data(1).csv",sep=",")

In [38]:
df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,-37,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,-37,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [39]:
df.dtypes

Make                  object
Model                 object
Year                    int8
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [40]:
df.shape

(11914, 16)

In [41]:
df.to_excel(excel_writer="output.xlsx",sheet_name="mydata")

In [42]:
df.to_csv("output.csv")

In [43]:
df = pd.read_csv("data.csv")

In [44]:
ar = np.arange(100)
ar==1

array([False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [45]:
df["superCars"] = df["Engine HP"]>500   # to create new column

In [54]:
df[df["Engine HP"]>500][["Engine HP","Year"]].head(3)

     Engine HP  Year
466      562.0  2013
467      562.0  2013
468      562.0  2014

In [56]:
d = {
    "one":1,
    "two":2
}
d["two"] = 3
print(d)

{'one': 1, 'two': 3}

In [47]:
df.insert(5,"superEngine",df["Engine Cylinders"]>=8)

In [48]:
df[df["Engine Cylinders"]>=8].head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,superEngine,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP,superCars
294,Ferrari,360,2002,premium unleaded (required),400.0,True,8.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,15,10,2774,160829,False
295,Ferrari,360,2002,premium unleaded (required),400.0,True,8.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,15,10,2774,140615,False

# axis =0 row.   default value
# axis =1 column
# inplace need to set true if we want to modify the current object

In [ ]:
df.drop(["superCars"],axis=1,inplace=True) # to drop multiple column put[]

In [50]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP', 'superEngine',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

#### till this point we did
* #### Data Load
* #### data features (explore)
* #### add column 
* #### add filtered data as new column
* #### add column with insert method

 ####  the next 
 * #### how to update the name of the column
* ####  how to filter records(row) 
* ####  how to remove the unwanted records(rows)
* ####  what is role of index 
* ####  how to reset the sequence of rows(index)

In [ ]:
columns = list(df.columns)
columns[1] = "CarModel"
df.columns = columns
df.head(1)

,Make,CarModel,Year,Engine Fuel Type,Engine HP,superEngine,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,False,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135

In [ ]:
df.rename(columns={"Make":"CarBrand"},inplace=True)
df.head(1)

,CarBrand,CarModel,Year,Engine Fuel Type,Engine HP,superEngine,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,False,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135

In [75]:
dfnew = df.copy()

In [78]:
id(df) == id(dfnew)

False

In [95]:
df['Engine HP']

0        335.0
1        300.0
2        300.0
3        230.0
4        230.0
         ...
11909    300.0
11910    300.0
11911    300.0
11912    300.0
11913    221.0
Name: Engine HP, Length: 11914, dtype: float64

In [ ]:
# Product.objects.all()   # select `id`,`name`,`price`,`quantity` from `product`;

In [ ]:
df[(df["CarBrand"]=="BMW") & (df["Engine HP"]>500) ].head(1)

In [96]:
df.query(""" `CarBrand`=="BMW" and `Engine HP`>500 """).head(1)

,CarBrand,CarModel,Year,Engine Fuel Type,Engine HP,superEngine,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
720,BMW,7 Series,2015,premium unleaded (required),535.0,True,12.0,AUTOMATIC,rear wheel drive,4.0,"Luxury,High-Performance",Large,Sedan,20,13,3916,141200

* group by 
 

* and aggrigate function

* count
* sum
* mean
* max
* min

In [101]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [105]:
pd.set_option('display.max_rows',None)

In [ ]:
df.groupby(by=["CarBrand","Year"])[["MSRP","Engine Cylinders"]].sum()

                       MSRP  Engine Cylinders
CarBrand      Year
Acura         1992     4000              10.0
              1993    14102              40.0
              1994    14722              40.0
              1995    13472              36.0
              1997     4885              12.0
              1998     2816               6.0
              1999    21208              30.0
              2000    27122              28.0
              2001   295010              56.0
              2002    58060              12.0
              2003   152350              30.0
              2004   285370              32.0
              2005   286720              32.0
              2006   109245              20.0
              2010   201980              24.0
              2011   358160              42.0
              2012   915355             120.0
              2013   610570              84.0
              2014   625025              86.0
              2015  1203995             156.0
              2016  1944345             248.0
              2017  1643160             200.0
Alfa Romeo    2015   186200              12.0
              2016   121800               8.0
Aston Martin  2003   606200              48.0
              2004   234260              12.0
              2005   489260              24.0
              2006   260000              12.0
              2010  1297650              60.0
              2011  1691223              84.0
              2012  3913765             192.0
              2013   382400              24.0
              2014  2229840             124.0
              2015  3292920             192.0
              2016  4008147             216.0
Audi          1990    12000              29.0
              1991    12000              30.0
              1992    16000              48.0
              1993    18149              56.0
              1994    18239              56.0
              1995     6000              18.0
              1996     2631               6.0
              1997     2837               6.0
              1998     3137               6.0
              2003   163650              20.0
              2004   126850              20.0
              2005   127750              20.0
              2007    66000               8.0
              2008   148810              16.0
              2012    56850               5.0
              2013   204000              21.0
              2014  2331690             180.0
              2015  5818000             490.0
              2016  4548400             436.0
              2017  3849300             352.0
BMW           1995    19130              32.0
              1996    12634              20.0
              1997    14317              20.0
              2000    14428              18.0
              2001   325880              38.0
              2002   281890              32.0
              2003   268400              16.0
              2006   100600              12.0
              2007   102200              12.0
              2008   102800              12.0
              2010    88900               8.0
              2011   275985              38.0
              2012   151500              24.0
              2013   397500              54.0
              2014   937300              68.0
              2015  6712900             606.0
              2016  5757705             532.0
              2017  4992550             448.0
Bentley       2001  1209600              32.0
              2003   647980              16.0
              2007  1058960              32.0
              2008  1058960              32.0
              2009  1686940              48.0
              2010  1410090              52.0
              2011  1171300              60.0
              2012  1154000              60.0
              2013  1089900              56.0
              2014  2157600             100.0
              2015  2769700             116.0
              2016  2875500             116.0
Bugatti       2008  3565902              32.0
              2009  1705769              16.0
Buick         1990    14000              44.0
              1991     4000              12.0
              1994     6000              24.0
              1995     6000              24.0
              1996    12402              36.0
              1997    12000              32.0
              1998     4155              10.0
              1999     2379               6.0
              2003   152625              30.0
              2004   155615              30.0
              2005   407705              78.0
              2006   235720              48.0
              2007   204515              42.0
              2009   271590              50.0
              2010   311050              56.0
              2011   142995              26.0
              2015   829150             120.0
              2016  1419930             198.0
              2017  1336665             176.0
Cadillac      1990     4000              16.0
              1991     4000              16.0
              1992     4234              16.0
              1993     4358              16.0
              1994     2000               8.0
              1995     2000               8.0
              1996     2158               8.0
              1999     2066               6.0
              2000    10506              28.0
              2001   115752              22.0
              2002   229159              40.0
              2003   239885              40.0
              2004   193075              32.0
              2005   195675              32.0
              2007   415620              40.0
              2008   526750              48.0
              2009   673970              86.0
              2010   490010              66.0
              2011   892225             106.0
              2012  1207695             148.0
              2013  1273970             156.0
              2014  1055620             138.0
              2015  5411645             552.0
              2016  5228400             518.0
              2017  4139060             408.0
Chevrolet     1990     4000              10.0
              1992    14000              42.0
              1993    24000              72.0
              1994    52000             164.0
              1995    16000              50.0
              1996    20000              60.0
              1997    81727             194.0
              1998   109601             248.0
              1999    19838              45.0
              2000    19111              41.0
              2001    61780              18.0
              2002   573021             152.0
              2003  1057065             252.0
              2004   804955             190.0
              2005   734670             172.0
              2006   576920             142.0
              2007  1945270             520.0
              2008   783045             176.0
              2009   650030             136.0
              2010   452005             100.0
              2011   672790             132.0
              2012   939805             173.0
              2013   647550             112.0
              2014   743370             128.0
              2015  7404855            1204.0
              2016  7062210            1138.0
              2017  6367865             952.0
Chrysler      1990     4000              10.0
              1991     4000              12.0
              1992     2000               6.0
              1993    18000              48.0
              1994     8000              24.0
              1995     4000              12.0
              1996     2000               6.0
              1998     2107               6.0
              1999     4202              12.0
              2000     8895              24.0
              2001   115990              22.0
              2002   241180              50.0
              2003   183845              40.0
              2004   140595              30.0
              2006   230710              36.0
              2007   381825              76.0
              2008   583155             114.0
              2009   385790              72.0
              2010   150280              28.0
              2014   140220              24.0
              2015   671105             112.0
              2016   915905             150.0
              2017   799390             132.0
Dodge         1990     6000              16.0
              1991    96000             304.0
              1992   114093             336.0
              1993   102552             304.0
              1994    27376              60.0
              1995     9794              22.0
              1996     9007              18.0
              1998     8518              28.0
              1999     6475              20.0
              2000    16072              48.0
              2001   145535              48.0
              2002   195910              58.0
              2003   218465              62.0
              2004   383240              96.0
              2005   219490              54.0
              2006   258670              62.0
              2007   218760              52.0
              2008  1710990             412.0
              2009  1210280             286.0
              2010  1405950             338.0
              2011   345625              80.0
              2012   145355              32.0
              2013   285875              34.0
              2014   361030              54.0
              2015  1986590             346.0
              2016  2315135             386.0
              2017  2213390             362.0
FIAT          2015   369100              64.0
              2016   596425             100.0
              2017   440030              72.0
Ferrari       2001   898085              48.0
              2002  1515517              80.0
              2003  2182992              92.0
              2004  1288760              64.0
              2005   575250              24.0
              2007  1005071              40.0
              2008   831736              32.0
              2009  1779947              68.0
              2010   623631              24.0
              2011  1043668              36.0
              2012   195840               8.0
              2013  1299999              48.0
              2014  1587999              56.0
              2015  1608605              56.0
Ford          1990    28000              96.0
              1991    18000              64.0
              1992    14000              32.0
              1993    10000              20.0
              1994    13289              36.0
              1995    32474              82.0
              1996    45018             124.0
              1997    87755             234.0
              1998    84589             202.0
              1999    77579             166.0
              2000    12876              24.0
              2001   245745              58.0
              2002   455960             110.0
              2003   590900             134.0
              2004   558830             148.0
              2005   705750             132.0
              2006   566750             104.0
              2007   316585              72.0
              2008   468880             106.0
              2009  1064880             232.0
              2010   559170             110.0
              2011   358270              70.0
              2012   417830             104.0
              2013   493080             112.0
              2014   507200             112.0
              2015  4577870             758.0
              2016  5826420             882.0
              2017  6001054             887.0
GMC           1990    50000             130.0
              1991    29667              78.0
              1992     5895               6.0
              1993     6890               6.0
              1994    20000              66.0
              1995    14000              42.0
              1997     5053              16.0
              1998     2790               8.0
              1999    51826             116.0
              2000    30032              68.0
              2001   337010              74.0
              2002   159036              44.0
              2003   262610              66.0
              2004   237160              48.0
              2005   440915              88.0
              2006   392790              88.0
              2007  1561895             418.0
              2008   196075              40.0
              2009   207685              40.0
              2011   402065              64.0
              2012   761425             126.0
              2013   424845              64.0
              2014   354265              86.0
              2015  3489590             562.0
              2016  3518840             574.0
              2017  2741690             406.0
Genesis       2017   139850              20.0
HUMMER        2008   109845              18.0
              2009   184990              31.0
              2010   325060              54.0
Honda         1990     6000              12.0
              1991     6000              12.0
              1995     6033              12.0
              1996     6321              12.0
              1997     6874              12.0
              1999     6432               8.0
              2000    17964              32.0
              2001   289500              60.0
              2002   217800              48.0
              2007    34250               4.0
              2008   107900              12.0
              2009   342970              52.0
              2010   330310              58.0
              2011   258870              46.0
              2012   168860              32.0
              2013   633805             104.0
              2014  1131900             174.0
              2015  2830275             470.0
              2016  2790885             464.0
              2017  2783830             468.0
Hyundai       1992     8000              16.0
              1993    14000              28.0
              1994    12000              24.0
              1995     6000              12.0
              2001    48498              12.0
              2003    49598              12.0
              2004    49598              12.0
              2005    51398              12.0
              2006   134765              38.0
              2007   220150              56.0
              2008   176360              44.0
              2010   200260              40.0
              2011   202060              40.0
              2012   202260              40.0
              2013   116470              24.0
              2014   857470             156.0
              2015  1895245             318.0
              2016  1830545             310.0
              2017  1378225             220.0
Infiniti      1990     2000               6.0
              1991     4000              12.0
              1992     4000              12.0
              1995     2000               6.0
              1996     4000              12.0
              1997     8194              24.0
              1999     4721              12.0
              2000     9900              20.0
              2001   223785              40.0
              2002   142040              26.0
              2003   100000              18.0
              2004   144600              22.0
              2005    56400               8.0
              2006   270750              46.0
              2007   280350              50.0
              2008   697250             114.0
              2009   973250             148.0
              2010  1181800             172.0
              2011  1425600             202.0
              2012  1502300             208.0
              2013  1349250             178.0
              2014   811250              98.0
              2015  1964250             254.0
              2016  1609600             194.0
              2017  1218800             148.0
Kia           1999     4000               8.0
              2000     4000               8.0
              2001    48530              16.0
              2007   227735              58.0
              2008   241630              62.0
              2009   539115             126.0
              2014   262440              44.0
              2015  1497690             254.0
              2016  1807175             280.0
              2017  1214335             204.0
Lamborghini   2001   294900              12.0
              2008  2929200              60.0
              2009  1492800              48.0
              2010   450000              12.0
              2012  1292800              60.0
              2013  1314400              60.0
              2014  4774450             178.0
              2015  2122800              58.0
              2016  2570150              78.0
Land Rover    1994    27736               8.0
              1995    30709               8.0
              1997    76600              16.0
              2000     2561               8.0
              2001   104050              24.0
              2002    70500              16.0
              2003   223745              48.0
              2004   193690              42.0
              2005    53660              12.0
              2008   102550              16.0
              2009    45975               8.0
              2013   116800              12.0
              2014  2752794             204.0
              2015  2930935             224.0
              2016  2430130             186.0
              2017   536285              44.0
Lexus         1990     2000               6.0
              1991     2000               6.0
              1996     3667               6.0
              1997     4282               6.0
              1998    14402              30.0
              1999    15993              30.0
              2000    17428              30.0
              2001   101165              18.0
              2002   101165              18.0
              2003   103775              18.0
              2004   197925              32.0
              2005   405870              66.0
              2006   460705              66.0
              2007   250165              36.0
              2008   199230              28.0
              2009   167890              24.0
              2010   194545              24.0
              2011   130800              16.0
              2012   513130              26.0
              2013   223840              32.0
              2014   490290              58.0
              2015  2208635             258.0
              2016  2062005             230.0
              2017  1734005             198.0
Lincoln       1990     4000              16.0
              1991     4000              16.0
              1992     4000              16.0
              1996     4000              16.0
              1997     4472              16.0
              1998     4870              16.0
              2001    39660               8.0
              2002   208430              40.0
              2003   169220              32.0
              2004   360610              66.0
              2005   273990              50.0
              2006   149195              30.0
              2007   159300              32.0
              2008   161260              32.0
              2009    98440              16.0
              2010    99520              16.0
              2011   234435              36.0
              2014   125535              18.0
              2015   960365             106.0
              2016  1713080             182.0
              2017  2247350             236.0
Lotus         2002    89825               8.0
              2003    90825               8.0
              2004    93225               8.0
              2009   286920              20.0
              2010   167930              12.0
              2011   505675              36.0

In [103]:
df.groupby(by="CarBrand")[["MSRP","Engine Cylinders"]].aggregate(["sum","mean","max"])

                   MSRP                        Engine Cylinders             \
                    sum          mean      max              sum       mean
CarBrand
Acura           8791672  3.488759e+04   156000           1344.0   5.333333
Alfa Romeo       308000  6.160000e+04    68400             20.0   4.000000
Aston Martin   18405665  1.979104e+05   320695            988.0  10.623656
Audi           17532293  5.345211e+04   199900           1823.0   5.557927
BMW            20556619  6.154676e+04   141200           1990.0   5.958084
Bentley        18290530  2.471693e+05   363000            720.0   9.729730
Bugatti         5271671  1.757224e+06  2065902             48.0  16.000000
Buick           5528496  2.820661e+04    49625           1042.0   5.316327
Cadillac       22323833  5.623132e+04   104215           2554.0   6.433249
Chevrolet      31837483  2.835039e+04    92395           6623.0   5.908118
Chrysler        4997194  2.672296e+04    49470           1046.0   5.593583
Dodge          14016177  2.239006e+04   120395           3918.0   6.258786
FIAT            1405555  2.267024e+04    31800            236.0   3.806452
Ferrari        16437100  2.382188e+05   643330            676.0   9.797101
Ford           24138754  2.739927e+04   149995           5211.0   5.914869
GMC            15704049  3.049330e+04    71665           3324.0   6.454369
Genesis          139850  4.661667e+04    54550             20.0   6.666667
HUMMER           619895  3.646441e+04    43130            103.0   6.058824
Honda          11976779  2.667434e+04    47070           2092.0   4.659243
Hyundai         7452902  2.459704e+04    68750           1414.0   4.666667
Infiniti       13990090  4.239421e+04    88850           2030.0   6.151515
Kia             5846650  2.531017e+04    61900           1060.0   4.588745
Lamborghini    17241500  3.315673e+05  1500000            566.0  10.884615
Land Rover      9698720  6.782322e+04   199495            876.0   6.125874
Lexus           9604912  4.754907e+04   375000           1262.0   6.247525
Lincoln         7025732  4.283983e+04    76650            996.0   6.073171
Lotus           2006460  6.918828e+04    93225            152.0   5.241379
Maserati        6624047  1.142077e+05   182009            426.0   7.344828
Maybach         8739550  5.462219e+05  1382750            192.0  12.000000
Mazda           8476659  2.003938e+04    44015           1860.0   4.615385
McLaren         1199025  2.398050e+05   280225             40.0   8.000000
Mercedes-Benz  25231109  7.147623e+04   495000           2369.0   6.711048
Mitsubishi      4524234  2.124054e+04    38995            983.0   4.680952
Nissan         15949555  2.858343e+04   149990           2978.0   5.336918
Oldsmobile      1731381  1.154254e+04    36795            836.0   5.573333
Plymouth         256078  3.122902e+03    44625            360.0   4.390244
Pontiac         3593808  1.932155e+04    37610           1020.0   5.483871
Porsche        13820646  1.016224e+05   440000            834.0   6.132353
Rolls-Royce    10885050  3.511306e+05   492425            368.0  11.870968
Saab            3042899  2.741350e+04    51330            504.0   4.540541
Scion           1195950  1.993250e+04    31090            240.0   4.000000
Spyker           639970  2.133233e+05   219990             24.0   8.000000
Subaru          6355841  2.482750e+04    39995           1118.0   4.367188
Suzuki          6285430  1.790721e+04    31749           1596.0   4.547009
Tesla           1534600  8.525556e+04   134500              0.0   0.000000
Toyota         21656392  2.903002e+04    84325           4170.0   5.597315
Volkswagen     22734826  2.810238e+04   101300           3514.0   4.365217
Volvo           8020066  2.854116e+04    65700           1327.0   4.722420


                max
CarBrand
Acura           6.0
Alfa Romeo      4.0
Aston Martin   12.0
Audi           12.0
BMW            12.0
Bentley        12.0
Bugatti        16.0
Buick           8.0
Cadillac        8.0
Chevrolet       8.0
Chrysler        8.0
Dodge          10.0
FIAT            4.0
Ferrari        12.0
Ford            8.0
GMC             8.0
Genesis         8.0
HUMMER          8.0
Honda           6.0
Hyundai         8.0
Infiniti        8.0
Kia             8.0
Lamborghini    12.0
Land Rover      8.0
Lexus          10.0
Lincoln         8.0
Lotus           8.0
Maserati        8.0
Maybach        12.0
Mazda           6.0
McLaren         8.0
Mercedes-Benz  12.0
Mitsubishi      8.0
Nissan          8.0
Oldsmobile      8.0
Plymouth        6.0
Pontiac         8.0
Porsche        10.0
Rolls-Royce    12.0
Saab            8.0
Scion           4.0
Spyker          8.0
Subaru          6.0
Suzuki          6.0
Tesla           0.0
Toyota          8.0
Volkswagen     12.0
Volvo           6.0